#Background{
background-color: black;
}
.container{
  height: 100vh;
  background: black;
  background-size: 100%; 
}
.column1 {
  border: 10px solid rgb(68, 150, 86);
  padding: 15px;
  background-color: green;
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 40%;
  box-sizing: border-box;
  float: left;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

  .column2 {
  border: 10px solid rgb(166, 61, 61);
  padding: 15px;
  background-color: red;
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 40%;
  box-sizing: border-box;
  float: right;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

  .column3 {
  border: 10px solid rgb(77, 82, 157);
  border-radius: 8px;
  padding: 10px;
  background-color: blue;
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 40%;
  box-sizing: border-box;
  float: left;
  color: black;
  border-radius: 20px;
}

.column4 {
  border: 10px solid rgb(192, 176, 31);
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(255, 251, 0);
  display: block;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 40%;
  box-sizing: border-box;
  float: right;
  color: black;
  border-radius: 20px;
}

  span {
  margin-left: 45%;
}