.column {
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(165, 186, 245);
  display: block;
  margin: auto;
  width: 40%;
  box-sizing: border-box;
  float: left;
}
 span {
  margin-left: 45%;
 }