
.red-background {
  background-color: red ;
  color: dimgray;
}

.green-background {
  background-color:green;
  color: rgb(239, 234, 243);
}

.column1 {
  border: 10px solid rgb(255, 255, 255);
  padding: 15px;
  background-color: green;
  display: block;
  margin: auto;
  width: 40%;
  box-sizing: border-box;
  float: left;
  color: rgb(0, 0, 0);
  border-radius: 8px;
}

  .column2 {
  border: 10px solid rgb(255, 255, 255);
  padding: 15px;
  background-color: red;
  display: block;
  margin: auto;
  width: 40%;
  box-sizing: border-box;
  float: right;
  color: rgb(0, 0, 0);
  border-radius: 8px;
}

  .column3 {
  border: 10px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 15px;
  background-color: blue;
  display: block;
  margin: auto;
  width: 40%;
  box-sizing: border-box;
  float: left;
  color: black;
  
}
span {
  margin-left: 45%;
}